html,body
{
    scroll-behavior: smooth;
}
#profilLink
{
    color:white;
}
#profilLink:hover
{
    text-decoration:underline;
}
.articleMostView, .articlenewArticle
{
    color:black;
}
.articleMostView:hover, .articlenewArticle:hover
{
    color:#7E7E7E;
}